CK
<ul class="dropdown-menu dropdown-menu-end text-small shadow dropdown-menu-fix">
    <li><a class="dropdown-item" href="/profile">Profile</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
</ul>
