<div class="btn-circle btn btn-primary flex-shrink-0 dropdown me-4 d-none d-md-block" data-bs-toggle="dropdown">
    CK
    <ul class="dropdown-menu dropdown-menu-end text-small shadow dropdown-menu-fix">
        <li><a class="dropdown-item" href="/profile">Profile</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
    </ul>
</div>