src/.env
.env
.vscode
.idea
/src/composer.lock
/src/vendor
/src/Application/application.json
docker-compose.override.yml
.DS_Store

# Dev tooling local overrides
/src/phpstan.neon
/src/phpunit.xml
/src/.phpunit.cache
/src/.phpunit.result.cache
