<!DOCTYPE html>
<html lang="en">
<head>
    <title>401</title>
    <style>
        body {
            text-align: center;
            margin: auto;
            width: 80%;
        }
        h1 {
            margin-top: 100px;
            font-weight: 1000;
        }
    </style>
</head>

<body>
<h1>401</h1>
<h3>Unauthorized</h3>
Authentication is required to access this resource, but either no credentials were provided, or the credentials provided
are invalid.<br/> Please log in with valid credentials to proceed. If you believe this is a mistake, contact the
administrator for assistance.
</body>
</html>