{% extends "base.twig" %}
{% block title %}Dashboard{% endblock %}
{% block header %}
    <style>
        main {
            text-align: center;
            margin: auto;
            width: 80%;
        }
        h1 {
            margin-top: 100px;
            font-weight: 1000;
        }
    </style>
{% endblock %}
{% block body %}
<main>
<h1>404</h1>
<h3>PAGE NOT FOUND</h3>
The page you are looking for might have been removed had its name <br/> changed or is temporarily unavailable.
</main>
{% endblock %}