{% extends "base.twig" %}
{% block title %}User Signup{% endblock %}
{% block header %}
    <style>
        html,
        body {
            height: 100%;
        }
        .form-signup {
            max-width: 600px;
            padding: 1rem;
        }
    </style>
{% endblock %}
{% block body %}

    <main class="form-signup w-100 m-auto">
        <form action="/signup/signup" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <h1 class="h3 mb-3 fw-normal">Sign up</h1>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username" type="text" class="form-control" value="{{ user.username }}">
                <div id="err-username" class="invalid-feedback"></div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="firstname" class="form-label">Firstname</label>
                    <input id="firstname" name="firstname" type="text" class="form-control" value="{{ user.firstname }}">
                    <div id="err-firstname" class="invalid-feedback"></div>
                </div>
                <div class="col-12 col-sm-6">
                    <label for="lastname" class="form-label">Lastname</label>
                    <input id="lastname" name="lastname" type="text" class="form-control" value="{{ user.lastname }}">
                    <div id="err-lastname" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="email" class="form-control" value="{{ user.email }}">
                <div id="err-email" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="password" class="form-control">
                <div id="err-password" class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="password_confirm" class="form-label">Password retry</label>
                <input id="password_confirm" name="password_confirm" type="password" class="form-control">
                <div id="err-password_confirm" class="invalid-feedback"></div>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
            <hr class="my-4">
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
    </main>


{% endblock %}