<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Framework">
            <directory>tests/Framework</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>Framework</directory>
        </include>
        <exclude>
            <directory>Framework/Views</directory>
        </exclude>
    </source>
</phpunit>
