{% extends "base.twig" %}
{% block title %}Two Factor Settings{% endblock %}
{%  block header %}
    <style>
        #two-factor input[type="text"] {
            padding: 4px;
        }
    </style>
{% endblock %}
{% block body %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Two factor</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" data-bs-toggle="modal" data-bs-target="#userModal"
                        class="btn btn-sm btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        <path fill-rule="evenodd"
                              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>


    <div class="card shadow rounded" style="width: 20rem; margin: auto;" >

        <div class="card-body">
            <h5 class="card-title">Scan QR code</h5>
            <div style="text-align: center; padding: 16px;">
                <img width="126x;" alt="qr" src="{{ qrCode }}"/>
            </div>

            <form action="/two-factor" id="two-factor" method="post">
                <input type="hidden" name="secret" value="{{ secret }}">
                <div class="row mb-4 ms-1 me-1">
                    <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                        <input name="field-1" type="text" class="form-control text-lg text-center" maxlength="1" placeholder="_" aria-label="2fa">
                    </div>
                    <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                        <input name="field-2" type="text" class="form-control text-lg text-center" maxlength="1" placeholder="_" aria-label="2fa">
                    </div>
                    <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                        <input name="field-3" type="text" class="form-control text-lg text-center" maxlength="1" placeholder="_" aria-label="2fa">
                    </div>
                    <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                        <input name="field-4" type="text" class="form-control text-lg text-center" maxlength="1" placeholder="_" aria-label="2fa">
                    </div>
                    <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                        <input name="field-5" type="text" class="form-control text-lg text-center" maxlength="1" placeholder="_" aria-label="2fa">
                    </div>
                    <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                        <input name="field-6" type="text" class="form-control text-lg text-center" maxlength="1" placeholder="_" aria-label="2fa">
                    </div>
                </div>
                <script>
                    document.querySelectorAll('#two-factor input[type="text"]').forEach(function(input, index, inputs) {
                        input.addEventListener('keyup', function(e) {
                            // Ha a backspace-t nyomjuk és a mező üres
                            if (e.key === 'Backspace' && this.value.length === 0) {
                                if (index > 0) {
                                    inputs[index - 1].focus();
                                }
                            }
                            // Ha a mező elérte a maxlength-et, ugorjunk a következő mezőre
                            else if (this.value.length === this.maxLength) {
                                if (index < inputs.length - 1) {
                                    inputs[index + 1].focus();
                                }
                            }
                        });
                    });


                </script>
                <p class="card-text">Scan the QR code with your authenticator app to enable two-factor authentication.</p>
                <div style="text-align: center;">
                    <button class="btn btn-danger shadow">Validate</button>
                </div>
            </form>

            </div>
    </div>


{% endblock %}

